.w3-animate-fading{
    height: 10%;
    width: 100%;
}
.entername{
    justify-content: center;
    align-items: center;
    display: flex;
    float: left;
    top: 3rem;
}
.page1{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: grey;
    box-shadow: 3px 3px 20px solid rgb(17, 17, 17);
}
.container {
    background-color: rgb(255, 255, 255);
}

.box {
    background-color: #d96459;
    width: 100%;
    height: 4rem;
    position: relative;
    padding-left: 36rem;
    font-size: 3rem;
    animation-name: mayank2;
    animation-duration: 2s;
    animation-iteration-count: 6;
    font-family: 'Lobster Two', cursive;
}


@keyframes mayank2 {
    0%{
        top:0px;
        left:20px;
        background-color: blanchedalmond;
        box-shadow: 5px 5px 5px 5px 10px grey;
    }
    25%{
        /* top: 15px; */
        left: 10px;
        background-color: rgb(137, 165, 216);
        box-shadow: 5px 5px 5px 5px 10px grey;
    }
    75%{
        /* top: 30px; */
        left: 50px;
        background-color: dimgrey;
        box-shadow: 5px 5px 5px 5px 10px grey;
    }
    100%{
        top: 0px;
        left: 100px;
        background-color: rgb(202, 194, 82);
        box-shadow: 5px 5px 5px 5px 10px grey;
    }
    
}
.page2{
    background-color: cadetblue;
} 
.page2-1:hover{
    opacity: 0.8;
    background-color: rgb(52, 196, 52);
    box-shadow: 3px 3px 20px solid grey;
 }
