body{
    background-color: rgb(212, 209, 161);
   
}
h1{
    margin-top: 15rem;
    margin-left: 32rem;
    font-family: 'Great Vibes', cursive;
    font-size: 4rem;
    color: white;
}
.container {
    background-color: rgb(255, 255, 255);
    margin-top: 10rem;
}
.box{
    margin-top: 5rem;
    font-size: 4rem;
    font-family: 'Pacifico', cursive;
    color: rgb(9, 43, 105);
}
.img{
    margin-top: 8rem;
}